@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

* {
    margin: 0;
}

body {
    padding: 0.1%;
    background-color: rgb(165, 174, 158);
    
}

.header {
    text-align: center;
    background-color: rgb(41, 82, 74);
    color: antiquewhite;
    font-family: roboto mono;
    position: fixed;
    width: 100%;
    z-index: 1;    
}

.nav {
  display: inline-block;
  top: 44px;
  position: fixed;
  background-color: rgb(41, 82, 74);
  width: 100%;
  z-index: 2;
  font-family: roboto mono;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

#foto {
    border-radius: 40%;
    width: 275px;
    position: absolute;
    display: inline-block;
    top: 13%;
    padding: 0.8%;
    margin-left: 5px;
    background-color: rgb(41, 82, 74);
}

.sobremim {
  background-color: rgb(41, 82, 74);
  position: absolute;
  display: inline-block;
  width: 50%;
  top: 25%;
  left: 35%;
  font-size: 30px;
  color: white;
}

.informacoes {
    position: absolute;
    display: inline-block;
    top: 70%;
    margin-right: 10px;
    font-size: 25px;
    border-style: double;
    border-radius: 15%;
    border-color:  rgb(41, 82, 74);

}

.hard{
  display: inline-block;
  position: absolute;
  top: 100%;
  font-size: 30px;
  font-weight: bold;
}

div.hard li:nth-of-type(odd){
  background-color: rgb(41, 82, 74);
  color: white;
}

.soft{
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 50%;
  font-size: 30px;
  font-weight: bold;
}

div.soft li:nth-of-type(odd){
  background-color: rgb(41, 82, 74);
  color: white;
}

.rodape {
  display: inline-block;
  position: absolute;
  top: 145%;
  background-color: rgb(41, 82, 74);
  width: 100%;
  font-size: 30px;
  color: white;
  font-style: italic;
}

p {
    padding: 3%;
}

a {
    text-decoration: none;
    color:white;
    font-family: share tech;
    font-style: oblique;
}

/* ul {
    list-style-image: url(foguete2.gif);
} */

