@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

* {
    margin: 0;
}

body {
    background-color: rgb(148, 161, 135);
    padding: 0.1%;
    
}

.header {
    text-align: center;
    background-color: rgb(41, 82, 74);
    color: antiquewhite;
    font-family: roboto mono;
    position: fixed;
    width: 100%;
    z-index: 1;    
}

.nav {
  display: inline-block;
  top: 45px;
  position: fixed;
  background-color: rgb(165, 174, 158);
  width: 100%;
  z-index: 2;
  font-family: roboto mono;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

#foto {
    border-radius: 40%;
    width: 275px;
    position: absolute;
    display: inline-block;
    top: 13%;
    padding: 0.8%;
    margin-left: 5px;
    background-color: rgb(41, 82, 74);
}

.sobremim {
  background-color: rgb(165, 174, 158);
  position: absolute;
  display: inline-block;
  width: 50%;
  top: 17%;
  left: 25%;
  font-size: 30px;
}

.informacoes {
    position: absolute;
    display: inline-block;
    top: 17%;
    left: 77%;
    margin-right: 10px;
    font-size: 25px;
}

.hard{
  display: inline-block;
  position: absolute;
  top: 70%;
  font-size: 30px;
}

.soft{
  display: inline-block;
  position: absolute;
  top: 70%;
  left: 50%;
  font-size: 30px;
}

.rodape {
  display: inline-block;
  position: absolute;
  top: 800px;
  background-color: rgb(165, 174, 158);
  width: 100%;
}

p {
    padding: 3%;
}

a {
    text-decoration: none;
    color: black;
    font-family: share tech;
}

/* ul {
    list-style-image: url(foguete2.gif);
} */

